@import "../../sass/common/variables.scss";


.gmap {
  width: 85vw;
  height: 80vh;
  margin-left: 3rem;
  border-radius: 10px;
}

.filters {
  display: flex;
  top: 10.4rem;
  right: 6rem;
  position: absolute;

  p {
    color: $chatGray;
    margin-right: 1rem;
    font-size: 1.25rem;
    transform: translateY(-.6rem);
  }
}

#filterdd {
  border-radius: 8px 8px 4px 4px;
  height: 2.8rem;
  width: 8rem;
  text-align: center;
  color: $greenColor;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}
