@import "../../sass/common/variables.scss";

.glmap {
  width: 85vw;
  height: 80vh;
  margin-left: 3rem;
  border-radius: 10px;

  & > div {
    width: 85vw !important;
    height: 80vh !important;
    border-radius: 10px;
    overflow: hidden;
    top: 10rem !important;
    left: 15rem !important;
  }
}

.theme {
  display: flex;
  top: 10.4rem;
  right: 2.5rem;
  position: absolute;
  z-index: 999;

  p {
    color: $chatGray;
    margin-right: 1rem;
    font-size: 1.25rem;
    transform: translateY(-.6rem);
  }
}

.blacktext {

  p {
    color: $grayDarkerColor;
  }
}

#themeoptions {
  border-radius: 8px 8px 4px 4px;
  height: 2.8rem;
  width: 8rem;
  text-align: center;
  color: $greenColor;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}


