.legend {
  padding: 1rem;
  margin-left: 5rem;


  &__items {
    display: flex;
  }

  &__item {
    display: flex;
    margin: .2rem 0;
    margin-right: 5rem;

    & > p {
    margin: 0;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    margin-right: 1rem;
  }

  &__section {
    display: flex;
    flex-direction: column;
  }
}
