.container {
  display: flex;
  height: 100vw;
}

.home {
  margin-left: 5rem;
}

.project-description {
  font-size: 24px;
  font-weight: 50;
  line-height: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.library-description {
  list-style: disc;
  font-weight: 400;
}
