@import "../../sass/common/variables.scss";

%span-properties {
  color: white;
  text-align: center;
  border-radius: 50%;
}

%span {
  @extend %span-properties;
  @include size(3.125rem);
  line-height: 3.125rem;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 1.875rem;
  background-color: black;
  position: relative;
}

header {
  height: 8.125rem;
  line-height: 8.125rem;
  position: relative;
  z-index: 10;
  padding-left: 5rem;

  p {
  float: right;
  text-transform: capitalize;

  & a {
    text-align: center;
    @include buttonSize(8.75rem, 3rem);
  }

  & span {
    @extend %span;
  }

  & span img {
    vertical-align: sub;
  }

  & span i {
    @extend %span-properties;
    @include size(1.625rem);
    line-height: 1.625rem;
    font-size: 0.8975rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #d0021b;
    transform: translate(25%, -25%);
    font-weight: 400;
    font-style: normal;
  }

  & span:first-of-type {
    cursor: pointer;
  }
}
}



.message-list {
  position: absolute;
  top: 6.25rem;
  right: 4.375rem;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16), 0px 2px 5px rgba(0, 0, 0, 0.26);
  width: 25rem;
  height: 18.75rem;
  overflow-y: auto;
  max-height: 0;
  transition: all .2s;

  &.opened {
    max-height: 18.75rem;
  }

  & a {
    line-height: normal;
    padding: 0 1.25rem;
    display: flex;
    align-items: center;
    height: 5rem;

    &:not(:last-of-type) {
      border-bottom: 1px solid $inactiveColor;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
      color: black;
    }

    & span {
      @extend %span;
      margin: 0 1rem 0 0;
      flex: 0 1 3.125rem;
    }

    & p {
      flex: 1;
      color: black;
      font-size: 0.75rem;
    }

    & p small {
      display: block;
      font-size: 0.625rem;
      color: #9b9b9b;
    }
  }
}

@media only screen and (max-width: 630px) {
  p span {
    display: none;
  }
}
