@import "../../sass/common/variables.scss";

.filter {
  transform: translateY(-2rem);
  margin-left: 70rem;
  display: block;
  display: flex;
}

input {
  display: none;

  &+label {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 10rem;
    height: 2.8rem;
    background-color: $greenColor;
    color: #fff;
    box-shadow: none;
    border: none;
    outline: none;
    margin-right: 1.5rem;
    cursor: pointer;
  }

  &:checked+label {
    transition: all 1s;
    transform: scaleX(1.15);
    background-color: $greenLighter;
    font-size: 18px;
  }
}
